<div class="" id="contenedor">
    
    <div class="" id="video">
        <iframe allow="camera; microphone; display-capture" src="https://meet.jit.si/123asdxx" frameborder="0"></iframe>
    </div>
    <div id = "ficha">
        <h1>Datos Paciente</h1>
        <h2>Ficha Médica - </h2>
        <div>
            
        </div>
    </div>
    
    
        <tbody>
            <tr id="tratamiento" >
                <td>Tratamiento:</td>
                <td><textarea name="comentarios" cols="80" placeholder="Escribe aquí..."></textarea></td>
            </tr>
            <tr>
                <td>Indicaciones:</td>
                <td><textarea name="comentarios"cols="80" placeholder="Escribe aquí..." ></textarea></td>
            </tr>
            <tr id="diagnostico">
                <td></td>
                <td>
                    <button class = "btn btn-primary"> Enviar Receta</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    
    

</div>
    

